/* inline: nao quebra linha, largura minima, apenas aceita margem na horizontal */
.inline {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

/* BLOCK: QUEBRA DE LINHA, LARGURA MAXIMA, AVEITA MARGIN E PREENCHIMENTO VERTICAL */
.block {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* inline-block: não quebra linha, */
.inline-block {
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
}